body
{
 background-color: #1e0f50;
}

.navbar-brand > img {
  display: block;
  width:83px;
}

h1
{
		font-size:35px;
		text-align:center;
		top:200px;
		left:100px;
		color:#0ff0f5;

}
p.twhite
{
    font-size: 18px;
	text-align:center;
 	color:#ffffff;
    
  
		
}

.row {
   
}
.col-lg-6 {
    width: 32%;
}




.proyecto
{
            padding: 0px;
            padding-bottom: 24%;
            position: relative;
            background-color: #12999c;
            height: auto;
            overflow: hidden;
}

.proyecto img
{
            position: absolute;
            top: 0px;
            left: 0px;
            height: 100%;
            object-fit: cover;
            width: 100%;
            z-index: 1;
            transition: all 0.5s;
            -webkit-transition: all 0.5s;
   }
        .proyecto:hover img
        {
            opacity: 0.5;
            filter:  grayscale(100%);
        }

        .proyecto .contenedor-detalle-proyecto
        {
            z-index: 2;
            position: absolute;
            top:-200px;
            left: 0px;
            right: 0px;
            transform: translateY(-50%);
            text-align: center;
            transition: all 0.5s;
            -webkit-transition: all 0.5s;
        }

        .proyecto:hover .contenedor-detalle-proyecto
        {
            top: 50%;
        }

        .proyecto .contenedor-detalle-proyecto h2
        {
           font-size: 30px;
           color: #fff;
           margin:0px;
           margin-bottom: 10px;
           line-height: 1;
           font-weight: bold;
        }

        .proyecto .contenedor-detalle-proyecto h4
        {
          font-size: 16px;
           color: #fff;
            margin:0px;
           margin-bottom: 10px;
           line-height: 1;
        }

         .proyecto .contenedor-detalle-proyecto a
        {
            background-color: #281c5a;
            color:#0ff0f5;
            padding: 10px 50px; 
            display: inline-block;       
        }




.wraper
{

}


.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color: #e7e7e7;
background-color: #1e0f50;

   
}


.container-fluid {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    background-color: #1e0f50;
}
.container-c1
{

}
    
.navbar-default .navbar-nav>li>a {
    color: #fff;
}

.cabecera-pestana
{
 list-style:none;
 padding: 0px;
 width :100px

}

.item-pestana
{
float: left;
background-color:#000;
margin: 0px;
color: #fff;
padding :8px 15px;
font-size: 20px;
cursor:pointer;


}
.contenido-pestana
{
list-style:none;

padding:0px;
width:100px;
height: auto;


}
.contenido-item-pestana
{
	float:left;
	width:100px;
	height:150px;
        display:none;
}
.contenido-item-pestana.activado
{
display:block;

}
.img1-responsive
{
	width:300px;
	height:100px;
}
.img-responsive
{
width:100%;
}

.lista-telefonos
{
	background-color: #c22;
}

.interior-telefono
{
	background-color: #ccc;
	position: relative;
}

.icono-naranja
{
	background-color: orange;
	    color: #fff;
    position: absolute;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
    font-size: 25px;
    padding: 5px;
    right: 20px;
    top: 26px;
    height: 60px;
    padding-top: 12px;
}
footer.final ul {width:100%; list-style:none;color:#fff;}
footer.final ul li {margin-top: -4px;float:left; width:150px;    margin: 6px;
    padding: 34px; }
footer.final ul li ul {padding:0;}
footer.final ul li ul li {float:none; padding:5px 0; font-weight:normal;color:#00aeef;}


.navbar-brand1 > img {
  display: block;
 width:135px;
}



div.container-c1 ul {width:100%; list-style:none;color:#fff;}
div.container-c1 ul li {margin-top: -4px;float:left; width:150px;    margin: 6px;
    padding: 34px; }
div.container-c1 ul li ul {padding:0;}
div.container-c1 ul li ul li {float:none; padding:5px 0; font-weight:normal;color:#00aeef;}}






.lista-telefonos
{
	background-color: #c22;
}

.interior-telefono
{
	background-color: #ccc;
	position: relative;
}

.icono-naranja
{
	background-color: orange;
	    color: #fff;
    position: absolute;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
    font-size: 25px;
    padding: 5px;
    right: 20px;
    top: 26px;
    height: 60px;
    padding-top: 12px;
}
